body{
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  zoom: 0.9;
  
}

fieldset#cliente {
  background: url("../img/base.jpg") no-repeat 95% 95%;
  background-size: contain;
  background-position: top;
  background-position-x: right;
}

a {
  color: black;
  text-decoration: none;
}

#links {
  align-items: center;
}

.textform {
  text-align: left;
  width: 100%;
  border-radius: 5px;

}

.centro {
  text-align: center;
  justify-items: center;
}

.direita {
  float: right;
  margin-right: 0;
}

.esquerda {
  float: left;
  margin-left: 0;
}

.ajustetextarea {
  resize: none;
  /* desabilita a opção de redimensionamento manual */
  height: auto;
  /* permite que a altura seja ajustada automaticamente */
  min-height: 250px;
  /* define uma altura mínima para a caixa de texto */
}

.fonte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.borda {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px#0a0a0a;
}

.fontebranca {
  color: #0a0a0a;
}

.bordasimples {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px#0a0a0a;
}

.titulo {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.grid {
  margin-top: 100px;
  padding-top: 100px;
}

.title-logo {
  display: flex;
  flex-flow: row;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}

/*justufy content*/
.center,
.space-beween,
.space-around,
.end {
  display: flex;
  margin-bottom: 20px;
}

.box {
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

.center .box {
  width: 50px;
}

.space-around .box {
  width: 50px;
}

.space-beween .box {
  width: 50px;
}

.end .box {
  width: 50px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-beween {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

.gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid green;
  gap: 10px;
}

.gap .box {
  width: 32%;
}

#footer-img {
  width: 200px;
  height:auto;
}

.fixo {
  background: url('../img/mapa.jpg') center no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  border: 1px solid black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {

  0% {

      opacity: 0;

      -webkit-transform: translate3d(0, -100%, 0);

      transform: translate3d(0, -100%, 0);

  }



  100% {

      opacity: 1;

      -webkit-transform: none;

      transform: none;

  }

}
@media only screen and (max-width: 1366px) {
  body{
    zoom: 0.7;
  }
}
@media only screen and (max-width: 510px) {
 
  fieldset {
    border-style: none;
  }

  .textform {
    text-align: left;
    width: 65%;
    border-radius: 5px;
  }

  form {
    width: 500px;
    margin: auto;
  }

  h1 {
    font-size: 20px;
    width: 50%;
  }

  #consulta {
    display: flex;
    position: absolute;
    opacity: 0;
  }

  .direita {
    float: left;
    margin-left: auto;
  }

  fieldset#cliente {
    background: url("") no-repeat 95% 95%;
    background-size: contain;
    background-position: top;
    background-position-x: right;
  }
}